# ===== Domain & Timezone =====
N8N_DOMAIN=n8n.example.com
TIMEZONE=Asia/Ho_Chi_Minh
SSL_EMAIL=user@n8n.example.com

# ===== Database =====
POSTGRES_USER=n8n
POSTGRES_PASSWORD=ChangeMeStrong
POSTGRES_DB=n8n

# ===== n8n Version =====
N8N_VERSION=latest

# ===== auto update =====
WATCHTOWER_SCHEDULE=0 0 4 * * *
WATCHTOWER_CLEANUP=true