# Lịch trình backup
BACKUP_SCHEDULE=*/2 * * * *     # <phút> <giờ> <ngày trong tháng> <tháng> <ngày trong tuần>
# MySQL config
DBNAMES=db1 db2
DBUSER=user
DBPASS=pass
DBHOST=192.168.1.100
DBPORT=3306
DBTABLES=
DBTABLESMATCH=include
DBOPTIONS=--quick --single-transaction --skip-lock-tables --max-allowed-packet=64M

# Log
LOGFILE=./backup.log
LOG_TIME_FORMAT="02/01/2006 15:04:05"

# Backup
BACKUP_DIR=/backups
COMPRESSION_COMMAND=gzip
COMPRESSION_EXTENSION=.gz
MAX_CONCURRENT_BACKUPS=4

# Email config
MAIL=n
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=address@example.com
SMTP_PASS=
MAIL_SUBJECT=Database backup report
EMAILS=address@example.com


# Telegram
TELEGRAM=n
BOTTOKEN=xxx
CHATID=yyy

# Delete backup
DELETE=y
DAYS=7 # keeps days
MONTHS=3 # keeps months

# Lark
LARK=n
LARK_URL="https://open.larksuite.com/open-apis/bot/v2/hook/69597d2a-xxxxxxxx"
LARK_MESSAGE_TITLE="Databases backup"